@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700&display=swap');
* {
    /* margin: 0%; */
    /* padding: 0%; */
    text-decoration: none;
    list-style: none;
  }
  
  .wrapper {
    max-width: 1350px;
    width: 85%;
    margin: 0 auto;
  }
  img{
    width: 100%;
    display: block;
  }
  @font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/urbanist/v15/L0x-DF02iFML4hGCyMqrbS10ig.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

    body{
      font-family: 'Urbanist', sans-serif;
    }